@import url(reset.css);
:root {
    --weed:#E09F7D;
    --red:#EF5D60;
    --pink:#EC4067;
    --flirt:#A01A7D;
    --russian:#311847;
    --ombre:rgba(0,0,0.6);
}
body{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--weed);
}
main{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
section{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 450px;
    height: 350px;
}